@import "../styles/style.scss";

.navbar_container {
    padding-bottom: 50px;
    background-color: $soft-grey;
    width: 100vw;

    @include mobile {
        display: flex !important;
        justify-content: space-around !important;
    }

    .title_with_icon {
        display: flex;
    }

    .button_group {
        display: flex;
        gap: 20px;
    }
}