.main_container {
    background-color: #e6eaef;
    padding: 0 50px;
    height: 86vh;
    width: 100vw;
    margin: 0;

    .page_title {
        margin: 0 0 50px 0;
        color: #045149;
        font-weight: bold;
    }
}