@import "../styles/style.scss";

.main_container {
    background-color: $soft-grey;
    height: 86vh;
    width: 100vw;
    margin: 0;
    padding-left: 50px;

    .page_title {
        margin: 0 0 50px 0;
        color: $forest-green;
        font-weight: bold;
    }
}