@import "../styles/style.scss";

.container {
    background-color: $soft-grey;
    height: 94.75vh;
    width: 100vw;
    margin: 0;

    @include mobile {
        min-width: 350px;
        height: 100vh;
    }

    .title {
        margin: 0 0 25px 0;
        text-align: center;
        color: $forest-green;
    }


    .password_container {
        text-align: center;
        margin: 20px;
        border: 2.5px solid $forest-green;
        border-radius: 10px;
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px 10px 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            width: 350px;
        }

        .password {
            padding-left: 20px;
            max-width: 300px;
            text-wrap: pretty;
            overflow: hidden;
        }

        .password_button_group {
            display: flex;
            gap: 10px;
            cursor: pointer;
        }
    }

    .input_container {
        color: white;
        width: 500px;
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
        gap: 20px;
        border: 5px solid $forest-green;
        background-color: $forest-green;
        border-radius: 20px;
        padding: 20px;

        @include mobile {
            width: 330px;
        }
    }

    .button_text_group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        color: $error-message;
        font-weight: bold;

    }

}